body {
    color:white;
    background: rgb(134,176,73);
    background: linear-gradient(90deg, rgba(134,176,73,1) 0%, rgba(153,190,101,1) 20%, rgba(174,207,133,1) 40%, rgba(195,223,165,1) 60%, rgba(206,232,181,1) 80%, rgba(223,245,206,1) 100%); 
    font-size:  1.2vw;
}
.card-content{
    color:black
}

.group-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
}

.group-container li{
    flex-basis: 30%;
}

.list-container{
    background-color: #48569c;
    border-radius: 25px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.list-container2{
    background-color: #48569c;
    border-radius: 25px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.list-container3{
    background-color: #48569c;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.dashboard-header{
    display: flex;
    flex-direction: column;
}
.nextPage-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 15px;
}

.edit-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
    margin-bottom: 3%;
}

.title-container{
    display: flex;
    justify-content:center;
}


.link-container{
    background-color: #dee2fc;
    margin-top: 1%;
}
.login-container{
    width: 400px;
    margin-top: 50px;
    text-align: center;
}
.square-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1mm solid black
}

.top-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.inside-top{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.change{
    background: rgb(#525B88);
}

.seed-container{
    background-color: #dee2fc;
}

.option-container{
    border-radius: 10px;
    width:15%;
}
.option-container a{
    color: white;
    display: flex;
}


.all-container{
    display: flex;
    justify-content: center;
}

.all-container a{
    color: white;
}

.allLinks-container ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1%;
}
.all-links{
    display:flex;
    flex-direction: row;
    flex-basis:20%;
    margin-bottom: 1%;
}
.all-links li{
    width: 80%;
}

